{% extends 'Alumni/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1 style="font-weight: bold; font-size: 24px;">My Profile</h1>

    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover ">
        <tr>
            <td>Name</td>
            <td>{{alumnireg.alumnireg_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{alumnireg.alumnireg_email}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{alumnireg.alumnireg_contact}}</td>
        </tr>
        <tr>
            <td>AcademicYear</td>
            <td>{{alumnireg.academicyear.academicyear_name}}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{alumnireg.department.department_name}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{alumnireg.alumnireg_dob}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <a href="{% url 'Alumni:editprofile' %}">Editprofile</a>
           
            
                <a href="{% url 'Alumni:changepassword' %}">Changepassword</a>
            </td>
           </tr>
    </table>
</body>
</html>
{% endblock %}