
{% extends 'Administrator/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    <h1 style="font-weight: bold; font-size: 24px;">Add Ouestions</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table class="table table-bordered table-hover ">
        <tr>
          <td>Question</td>
          <td><textarea name="txt_question"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit"class="btn btn-primary" style="background-color: #44d2f6; color: white;" value="ADD"></td>
          </tr>   
        </table>
    </form>
    <table class="table table-bordered" cellpadding="10">
        <tr>
            <th>Sno</th>
            <th>Questions</th>
            <th>Exam</th>
            <th colspan="2" align="center">Action</th>
            
  
        </tr>
            {% for i in result %}
            <tr>
             <td>{{forloop.counter}}</td>
             <td width="250">{{i.question}}</td> 
             <td>{{i.examination.examination_name}}</td>
             <td><a href="{% url 'Admin:delqus' i.id id %}">Delete</a></td> <br>
             <td><a href="{% url 'Admin:addoptions' i.id %}">Add options</a></td> 
      
             
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
{% endblock %}