{% extends 'Administrator/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Registration</title>
</head>

<body>
    <h1 style="font-weight: bold; font-size: 24px;">Alumni Registration</h1>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover ">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" placeholder="Enter Alumni Name" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" placeholder="Enter Alumni Email" required></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txtcontact" placeholder="Enter Alumni Contactno" required></td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    <select name="sel_Dept">
                        <option>--select--</option>
                        {% for i in department %}
                        <option value="{{i.id}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>AcademicYear</td>
                <td>
                    <select name="sel_acad">
                        <option>--select--</option>
                        {% for i in academicyear %}
                        <option value="{{i.id}}">{{i.academicyear_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Date of birth</td>
                <td><input type="date" name="txt_date" placeholder="Enter DOB" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_pass" placeholder="Enter Password" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btn_submit"class="btn btn-primary" style="background-color: #44d2f6; color: white;" value="SUBMIT">
                </td>
            </tr>

        </table>
        <table class="table table-bordered">
            <tr>
                <td>Sno</td>
                <td>Student Name</td>
                <td>Student Email</td>
                <td>Student Contact</td>
                <td>Student Department</td>
                <td>Student Academicyear</td>
                <td>Student DOB</td>
                <td> Password</td>
                <td>Action</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.alumnireg_name}}</td>
                <td>{{i.alumnireg_email}}</td>
                <td>{{i.alumnireg_contact}}</td>
                <td>{{i.department.department_name}}</td>
                <td>{{i.academicyear.academicyear_name}}</td>
                <td>{{i.alumnireg_dob}}</td>
                <td>{{i.alumnireg_password}}</td>
                <td><a href="{% url 'Admin:viewalumnijobs' i.id %}">View Jobpost</a></td>
            </tr>
            {% endfor %}
        </table>
</body>

</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Admin:alumnireg' %}"
</script>
    {% endif %}
{% endblock %}