{% extends 'Administrator/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h1 style="font-weight: bold; font-size: 24px;">Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <table  class="table table-bordered table-hover ">
        <tr>
            <td>Old Password</td>
            <td><input type="password" name="txt_opass" placeholder="Enter Oldpassword" required></td>
         </tr>
         <tr>
            <td>New Password</td>
            <td><input type="password" name="txt_npass" placeholder="Enter Newpassword" required></td>
         </tr>
         <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txt_cpass" placeholder="Confirm Password" required></td>
         </tr>
         <tr>
            <td colspan="2" align="center">
                <input type="submit" name="btn_submit" class="btn btn-primary"style="background-color: #44d2f6; color: white; "value="SUBMIT">
            </td>
        </tr>
</body>
</html>
{% if msg1 %}
<script>
    alert("{{msg1}}")
    window.location="{% url 'Admin:myprofile' %}"
</script>
{% endif %}

{% if msg %}
<script>
    alert("{{msg}}")
    
</script>
{% endif %}
{% endblock %}