{% extends 'Administrator/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobPost</title>
</head>
<body>
    <h1 style="font-weight: bold; font-size: 24px;">Jobpost Registration</h1>

    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover " >
    <tr>
        <td>Company Name</td>
          <td><input type="text" name="txt_companyname" placeholder="Enter Company Name"  required></td>
    </tr>
    <tr>
        <td>Details</td>
          <td><input type="text" name="txt_details" placeholder="Enter Details"  required></td>
    </tr>
    <tr>
        <td>CGPA Criteria</td>
          <td><input type="text" name="txt_mincgpa" placeholder="Enter CGPA Criteria" required></td>
    </tr>
    <tr>
        <td>Department</td>
        <td>
            <!-- <select name="sel_Dept">
                <option>--select--</option>
                {% for i in department %}
                <option value="{{i.id}}">{{i.department_name}}</option>
                {% endfor %}
            </select> -->
            {% for i in department %}
            <input type="checkbox" name="sel_Dept[]" value="{{i.id}}" id=""> {{i.department_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td> Backlogs</td>
          <td><input type="text" name="txtback" placeholder="Enter Number of backlogs" required></td>
    </tr>
    <tr>
        <td>File</td>
          <td><input type="file" name="file_doc"  ></td>
</tr>

    <tr>
        <td>Last Date</td>
          <td><input type="date" name="txt_lastdate" ></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
        <input type="submit" name="btn_submit"class="btn btn-primary" style="background-color: #44d2f6; color: white;"value="SUBMIT">
        </td>
    </tr>
    </table>
    <table  class="table table-bordered" >
    <tr>
        <td>Sno</td>
        <td>Company Name</td>
        <td>Company Details</td>
        <td>CGPA Criteria</td>
        <td>Backlogs</td>
        <td>File</td>
        <td>Last Date</td>
        <td>Departments</td>
        <td>Action</td>
     </tr>
     {% for i in data %}
     <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.jobpost_companyname}}</td>
        <td>{{i.jobpost_details}}</td>
        <td>{{i.jobpost_mincgpa}}</td>
        <td>{{i.jobpost_backlog}}</td>
        <td><a href="{{i.jobpost_file_doc.url}}">View File</a></td>
        <td>{{i.jobpost_lastdate}}</td>
        <td>
            {% for d in i.tbl_jobpostdepartment_set.all %}
            {{d.department.department_name}},<br>
            {% endfor %}
        </td>
        <td><a href="{% url 'Admin:deletedjobpost' i.id %}">Delete</a>
            <a href="{% url 'Admin:Eligiblelist' i.id %}">View Eligible Students</a>
        </td>
     </tr>
    {% endfor %}
    </table>
</body>
</html>
{% endblock %}