{% extends 'User/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Jobpost</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover " >
            <tr>
                <td>Sno</td>
                <td> CompanyName</td>
                <td> Details</td>
                <td> CGPA Criteria</td>
                <td> File</td>
                <td> Last date</td>
                <td>Departments</td>
                <td>Action</td>
             </tr>
             {% for i in data %}
             <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.jobpost_companyname}}</td>
                <td>{{i.jobpost_details}}</td>
                <td>{{i.jobpost_mincgpa}}</td>
                <td><a href="{{i.jobpost_file_doc.url}}">View File</a></td>
                <td>{{i.jobpost_lastdate}}</td>
                <td>
                    {% for d in i.tbl_jobpostdepartment_set.all %}
                    {{d.department.department_name}},<br>
                    {% endfor %}
                </td>
                <td>
                    {% if i.status == 1 %}
                    You Requested To This Job
                    {% else %}
                    <a href="{% url 'User:requestjob' i.id %}">request</a>
                    {% endif %}

            </td>
             </tr>
            {% endfor %}
            </table>    
</body>
</html>
{% endblock %}